/*Utilities */

.bg-blue {
  background-color: #2c3e50;
  color: #fff;
}

.bg-green {
  background-color: #1abc9c;
}

.bg-lightblue {
  background-color: #3a546d;
  color: #fff;
}

.ms_text_align_center {
  text-align: center;
}

.ms_mb_15 {
  margin-bottom: 15px;
}

.ms_mt_15 {
  margin-top: 15px;
}

.ms_mt_10 {
  margin-top: 10px;
}

.ms_py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ms_px_60 {
  padding-right: 60px;
  padding-left: 60px;
}

/* Navbar */
.main-header .ms_site-navbar {
  background-color: #2c3e50;
}

.main-header .ms_site-brand {
  font-weight: 500;
}

.main-header .ms_site-navbar .ms_site-nav-link {
  color: #fff;
  font-weight: 500;
}

.main-header .ms_site-navbar a.ms_site-nav-link:hover {
  color: #1abc9c;
}

.main-header .ms_site-toggler {
  border-color: #fff;
}

/* Hero */

.hero .avatar {
  width: 50%;
}

.hero .hero-title {
  color: #fff;
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 600;
}

.hero .content-icon .icon {
  color: #fff;
  font-size: 25px;
}

.hero .content-icon::before,
.hero .content-icon::after {
  content: "";
  background-color: #fff;
  display: inline-block;
  width: 70px;
  height: 3px;
  border-radius: 20px;
  position: relative;
  bottom: 8px;
}

.hero .content-text {
  color: #fff;
  font-size: 18px;
  margin: 10px 0 20px;
  font-weight: 300;
}

/* Portfolio */
.portfolio .title-section {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.portfolio .content-icon .icon {
  color: #2c3e50;
  font-size: 25px;
}

.portfolio .content-icon::before,
.portfolio .content-icon::after {
  content: "";
  background-color: #2c3e50;
  display: inline-block;
  width: 70px;
  height: 3px;
  border-radius: 20px;
  position: relative;
  bottom: 5px;
}

.portfolio .card-image img {
  max-width: 100%;
  border-radius: 15px;
}

/* About */
.about .title-section {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.about .content-icon .icon {
  color: #fff;
  font-size: 25px;
}

.about .content-icon::before,
.about .content-icon::after {
  content: "";
  background-color: #fff;
  display: inline-block;
  width: 70px;
  height: 3px;
  border-radius: 20px;
  position: relative;
  bottom: 5px;
}

.about .about-text {
  color: #fff;
}

.about .col-12:first-child .about-text,
.about .col-12:last-child .about-text {
  padding-left: 60px;
  padding-right: 60px;
}

.about .ms_btn-site {
  border-color: #fff;
  color: #fff;
}

/* Contatti */

.contact .title-section {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.contact .content-icon .icon {
  color: #2c3e50;
  font-size: 25px;
}

.contact .content-icon::before,
.contact .content-icon::after {
  content: "";
  background-color: #2c3e50;
  display: inline-block;
  width: 70px;
  height: 3px;
  border-radius: 20px;
  position: relative;
  bottom: 5px;
}

.ms-registration-form input[type="text"],
.ms-registration-form input[type="tel"],
.ms-registration-form input[type="email"],
.ms-registration-form textarea {
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.ms-registration-form input[type="text"]:focus,
.ms-registration-form input[type="tel"]:focus,
.ms-registration-form input[type="email"]:focus,
.ms-registration-form textarea:focus {
  border-color: #000;
  box-shadow: none;
}

.ms-registration-form input[type="text"],
.ms-registration-form input[type="tel"],
.ms-registration-form input[type="email"] {
  height: 60px;
  padding: 0;
}

.ms-registration-form textarea {
  height: 200px;
  padding: 1rem 0;
}

.ms-registration-form ::placeholder {
  color: #2c3e50;
}

.contact .ms-registration-form .ms_btn-form {
  background-color: #1abc9c;
  border: none;
}

/* Footer */

.footer .footer-info {
  padding: 0 50px;
}

.footer .footer-info .footer-title {
  font-weight: 500;
  font-size: 20px;
}

.footer .footer-info .footer-text {
  font-size: 18px;
  padding: 0 20px;
}

.footer .footer-info .footer-text a {
  color: #1abc9c;
  text-decoration: none;
}

.footer .footer-info .icon-footer {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
}

/* Copyright */

.copyright {
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Media query */

/* Tablet */
@media screen and (min-width: 768px) {
  .hero .avatar {
    width: 30%;
  }

  .hero .content-icon::before,
  .hero .content-icon::after,
  .portfolio .content-icon::before,
  .portfolio .content-icon::after,
  .contact .content-icon::before,
  .contact .content-icon::after {
    width: 80px;
  }

  .portfolio .title-section,
  .about .title-section,
  .contact .title-section {
    font-size: 26px;
  }

  .about .col-12:first-child .about-text {
    padding-left: 60px;
    padding-right: 0;
  }

  .about .col-12:last-child .about-text {
    padding-right: 60px;
    padding-left: 0px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .hero .avatar {
    width: 20%;
  }
}
